.btn {
   padding: 0.5rem 1.78rem;
   border: none;
   background-color: rgb(97, 97, 227);
   color: #f3f3f3;
   font-size: 1rem;
   border-radius: 10px;
   border: 1px solid rgb(97, 97, 227, 0);
   transition: 0.3s linear;
}

.btn:hover {
   background-color: whitesmoke;
   color: rgba(20, 28, 84, 1);
   border: 1px solid rgb(97, 97, 227);
}